

.theme-light {
    --body_background: #bbbbbb;
    --main_div_background: #ffffff;
    --unit_background: #eeeeee;
    --state_background: #dddddd;/*#b6caff*/
    --font_color: #4e5fb4;
    --font_big_text: #7086ea;
    --font_small_text: #4e5fb4;
    --font_search_text: #4e5fb4;
    --h_text_shadow: 2px 3px 2px #dddddd;
    --text_shadow: 2px 2px 2px #dddddd;
    --button_color: #7086ea;
    --button_gradient_hover: #475dc6;
    --button_gradient_pressed: linear-gradient(to bottom, #ffa86c 5%, #dc0d0c 100%);
    --filter_for_logo: none;
    --version_text: #0c58a8;
}

.theme-blue {
    --body_background: #cccccc;
    --main_div_background: #eeeeee;
    --unit_background: #8fa7d7;
    --state_background: #596ea0;/*#b6caff*/
    --font_color: #0c58a8; /*atomtex_color*/
    --font_big_text: #ffffff;
    --font_small_text: #d8eeff;
    --font_search_text: #d8eeff;
    --h_text_shadow: 2px 3px 2px #dddddd;
    --text_shadow: 2px 2px 2px #8888aa;
    --button_color: #5765aa;
    --button_gradient_hover: #2d3f95;
    --button_gradient_pressed: linear-gradient(to bottom, #ffa86c 5%, #dc0d0c 100%);
    --filter_for_logo: none;
    --version_text: #0c58a8;
}

.theme-dark {
    --body_background: #444444;
    --main_div_background: #555555;
    --unit_background: #666666;
    --state_background: #777777;
    --font_color: darkorange;
    --font_big_text: orange;
    --font_small_text: #ECEFF1;
    --font_search_text: darkorange;
    --h_text_shadow: 2px 3px 2px #444444;
    --text_shadow: 2px 2px 2px #444444;
    --button_color: #f59708;
    --button_gradient_hover: linear-gradient(to bottom, #f4ff3a 5%, #f5a208 100%);
    --button_gradient_pressed: linear-gradient(to bottom, #ffa86c 5%, #dc0d0c 100%);
    --filter_for_logo: brightness(100);
    --version_text: #ECEFF1;
}

/*Filter styles*/
.saturate { filter: saturate(3); }
.grayscale { filter: grayscale(100%); }
.contrast { filter: contrast(160%); }
.brightness { filter: brightness(0.25); }
.blur { filter: blur(3px); }
.invert { filter: invert(100%); }
.sepia { filter: sepia(100%); }
.huerotate { filter: hue-rotate(180deg); }
.rss.opacity { filter: opacity(50%); }

.for_logo {
    filter: var(--filter_for_logo);
}

.theme_switcher {
    width: 50px;
    float: right;

}

img {
    text-indent: 0;
}

.body {
    font-family: Arial;
    text-align: center;
    background-color: var(--body_background);
}

.main_div {
    background-color: var(--main_div_background);
    max-width: 1000px;
    /*margin: auto;*/
    box-shadow: 2px 1px 12px 1px rgba(0, 0, 0, 0.23);
    padding: 30px 15px 20px;
    margin: 10px auto 20px;
    border-radius: 10px;

}

.white_span {
    background: var(--main_div_background);
    color: var(--version_text);
}

h1, h3 {
    color: var(--font_color);
    text-shadow: var(--h_text_shadow);
}

.version {
    color: var(--version_text);
    font-size: 12px;
}

a {
    color: var(--font_color);
    font-size: 18px;
    font-family: sans-serif;
    text-decoration: none;
    padding: 2px 4px;
    transition-property: all;
    transition-duration: 450ms;
}

input[type="text"], input[type="date"], select {
    font-family: "Trebuchet MS", sans-serif;
    font-size: 14px;
    border: 0;
    border-radius: 6px;
    box-shadow: inset 5px 10px 5px -9px rgba(0, 0, 0, 0.55);
    -moz-box-shadow: inset 10px 10px 3px -7px rgba(0, 0, 0, 0.55);
    padding-left: 8px;
    padding-right: 8px;
    margin-left: 9px;
}

input[type="button"] {
    font-size: 14px;
    box-shadow: inset 0 0 3px 1px #111111;
    background: var(--button_color);
    border-radius: 8px;
    border-width: 0;
    display: inline-block;
    cursor: pointer;
    color: #ffffff;
    padding: 3px 11px;
    text-decoration: none;
    text-shadow: 0 3px 3px #000000;
}

input[type="button"]:hover {
    background: var(--button_gradient_hover);
}

input[type="button"]:active {
    background: var(--button_gradient_pressed);
}

.found_unit_item {
    /*background-color: #f57506;*/
    background: var(--unit_background);
    box-shadow: 2px 3px 5px 0 rgba(0, 0, 0, 0.55);
    border-radius: 5px;
    font-size: 14px;
    max-width: 500px;
    padding: 4px 12px 4px 12px;
    margin: 2px auto;
    text-align: left;
    overflow:auto;
}

.small_white {
    font-size: 12px;
    color: var(--font_small_text);
    font-style: italic;
}

.big_orange {
    font-size: 14px;
    color: var(--font_big_text);
}

.day_count_div {
    float: right;
    /*margin-top: 10px;*/
    text-align: center;
}

.date_div {
    float: right;
    margin-top: 0px;
    text-align: right;
}

.item_info_div {
    float: left;
}

.search_filter_div {
    background: var(--unit_background);
    box-shadow: 2px 3px 5px 0 rgba(0, 0, 0, 0.55);
    border-radius: 5px;
    font-size: 14px;
    /*color: #f5a208;*/
    color: var(--font_search_text);
    text-shadow: var(--text_shadow);
    max-width: 700px;
    /*padding: 4px 12px 4px 12px;*/
    padding: 12px;
    margin: 2px auto;
    text-align: center;
    overflow:auto;
}

.state_host {
    box-shadow: none;
    padding-top: 0px;
    clear: both;
    /*display: none;*/
}

.state_div {
    background: var(--state_background);
    box-shadow: 2px 3px 5px 0 rgba(0, 0, 0, 0.55);
    border-radius: 5px;
    font-size: 14px;
    max-width: 400px;
    padding: 4px 12px 4px 12px;
    margin: 2px auto;
    text-align: left;
    overflow:auto;
}

.label_filter {
    width: 150px;
    display: inline-block;
    text-align: right
}