
.body {
    font-family: Arial;
    text-align: center;
    background-color: #444444;
}

.main_div {
    background-color: #555555;
    max-width: 1000px;
    /*margin: auto;*/
    box-shadow: 2px 1px 12px 1px rgba(0, 0, 0, 0.23);
    padding: 30px 15px 20px;
    margin: 10px auto 20px;
    border-radius: 10px;
}

.white_span {
    background: #666666;
    color: #ECEFF1;
}

.row_table {
    background-color: #444444;
    /*margin-left: 0px;*/
    margin: auto;
    margin-top: 20px;
    /*margin-right: auto;*/
    box-shadow: 1px 1px 8px 1px rgba(0, 0, 0, 0.23);
    padding: 2px;
}

.row_table tr {

}

.row_table td {
    /*background: darkseagreen;*/
    background: #666666;
    /*background: #919191;*/
    /*background: grey;*/
    color: #ECEFF1;
    /*color: darkorange;*/
    width: 150px;
}

.states {
    background: #444444;
    margin-left: 100px;+/
    text-align: end;
    float: left;
    margin-right: 0px;
    padding: 3px;
    color: #ECEFF1;
}

.selected {
    background: darkorange;
}

.row_table th {
    /*background: #039be5;*/
    background: darkorange;
    color: #ECEFF1;
}

h1, h3 {
    color: darkorange;
    text-shadow: 2px 3px 2px #444444;
}

/*select {
    margin: 8px;
    border-radius: 6px 0 0 6px;
    font-family: "Trebuchet MS", sans-serif;
    font-size: 14px;
    border: 0;
    box-shadow: inset 5px 10px 5px -9px rgba(0, 0, 0, 0.55);
    padding-left: 8px;
    padding-right: 8px;
}*/

.version {
    color: #ECEFF1;
    font-size: 12px;
}

a {
    color: darkorange;
    font-size: 18px;
    font-family: sans-serif;
    text-decoration: none;
    padding: 2px 4px;
    transition-property: all;
    transition-duration: 450ms;
}

a:hover {
    color: white;
    background-color: darkorange;
    border-radius: 9px;
    padding: 2px 4px;
    transition-property: all;
    transition-duration: 250ms;
}

input[type="number"] {
    font-family: "Trebuchet MS", sans-serif;
    font-size: 14px;
    border: 0;
    border-radius: 6px;
    box-shadow: inset 5px 10px 5px -9px rgba(0, 0, 0, 0.55);
    -moz-box-shadow: inset 10px 10px 3px -7px rgba(0, 0, 0, 0.55);
    padding-left: 8px;
    padding-right: 8px;
    margin-left: 9px;
}

input[type="radio"] {
    font-family: "Trebuchet MS", sans-serif;
    font-size: 16px;
    color: darkorange;
    border: 0;
    border-radius: 6px;
    box-shadow: inset 5px 10px 5px -9px rgba(0, 0, 0, 0.55);
    -moz-box-shadow: inset 10px 10px 3px -7px rgba(0, 0, 0, 0.55);
    padding-left: 8px;
    padding-right: 8px;
    margin-left: 9px;
}

input[type="text"], input[type="date"], select {
    font-family: "Trebuchet MS", sans-serif;
    font-size: 14px;
    border: 0;
    border-radius: 6px;
    box-shadow: inset 5px 10px 5px -9px rgba(0, 0, 0, 0.55);
    -moz-box-shadow: inset 10px 10px 3px -7px rgba(0, 0, 0, 0.55);
    padding-left: 8px;
    padding-right: 8px;
    margin-left: 9px;
}

input[type="button"] {
    font-size: 14px;
    box-shadow: inset 0 0 3px 1px #111111;
    background: #f59708;
    border-radius: 8px;
    border-width: 0;
    display: inline-block;
    cursor: pointer;
    color: #ffffff;
    padding: 3px 11px;
    text-decoration: none;
    text-shadow: 0 3px 3px #000000;
}

input[type="button"]:hover {
    background: linear-gradient(to bottom, #f4ff3a 5%, #f5a208 100%);
}

input[type="button"]:active {
    background: linear-gradient(to bottom, #ffa86c 5%, #dc0d0c 100%);
}

.found_unit_item {
    /*background-color: #f57506;*/
    background: #666666;
    box-shadow: 2px 3px 5px 0 rgba(0, 0, 0, 0.55);
    border-radius: 5px;
    font-size: 14px;
    max-width: 500px;
    padding: 4px 12px 4px 12px;
    margin: 2px auto;
    text-align: left;
    overflow:auto;
}

.middle_white {
    font-size: 16px;
    color: #ECEFF1;
}

.small_white {
    font-size: 12px;
    color: #ECEFF1;
    font-style: italic;
}

.big_orange {
    font-size: 14px;
    color: orange;
}

.day_count_div {
    float: right;
    margin-top: 10px;
    text-align: center;
}

.date_div {
    float: right;
    margin-top: 0px;
    text-align: right;
}

.item_info_div {
    float: left;
}

.search_filter_div {
    background: #666666;
    box-shadow: 2px 3px 5px 0 rgba(0, 0, 0, 0.55);
    border-radius: 5px;
    font-size: 14px;
    /*color: #f5a208;*/
    color: darkorange;
    text-shadow: 2px 2px 2px #444444;
    max-width: 700px;
    padding: 4px 12px 4px 12px;
    margin: 2px auto;
    text-align: center;
    overflow:auto;
}

.state_host {
    box-shadow: none;
    padding-top: 0px;
    clear: both;
    /*display: none;*/
}

.state_div {
    background: #777777;
    box-shadow: 2px 3px 5px 0 rgba(0, 0, 0, 0.55);
    border-radius: 5px;
    font-size: 14px;
    max-width: 400px;
    padding: 4px 12px 4px 12px;
    margin: 2px auto;
    text-align: left;
    overflow:auto;
}

.label_filter {
    width: 150px;
    display: inline-block;
    text-align: right
}